{{ if eq .osid "linux-linuxmint" -}}
#!/bin/bash
echo "#########################################################################"
echo "#####                    Install miscellaneous apps                 #####"
echo "#########################################################################"
echo "*************************************************************************"
echo "*****                        Install ULauncher                      *****"
echo "*************************************************************************"
# misc applications requiring separate ppa
# ulauncher - application launcher
if ! command -v ulauncher >/dev/null 2>&1
then
  sudo add-apt-repository universe -y
  sudo add-apt-repository ppa:agornostal/ulauncher -y
  sudo apt update -y && sudo apt install -y ulauncher
  /usr/bin/python3 -m pip install simpleeval
  /usr/bin/python3 -m pip install Pint
else
  echo "ulauncher already installed, skipping installation"
fi

echo "*************************************************************************"
echo "*****                         Install Spotify                       *****"
echo "*************************************************************************"
# spotify
if ! command -v spotify >/dev/null 2>&1
then
  curl -sS https://download.spotify.com/debian/pubkey_C85668DF69375001.gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/spotify.gpg
  echo "deb https://repository.spotify.com stable non-free" | sudo tee /etc/apt/source
  sudo apt update -y && sudo apt install -y spotify-client
else
  echo "spotify already installed, skipping installation"
fi

echo "*************************************************************************"
echo "*****                        Install Syncthing                      *****"
echo "*************************************************************************"
# Other applications
sudo apt install -y syncthing

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# Test APIs
brew install --cask bruno
# Virtual screen to facilitate screen sharing
brew install --cask deskpad
# Web browser
brew install --cask firefox
# Hide applications in the menu bar when there are too many
brew install --cask hiddenbar
# Simple calendar overview
brew install --cask itsycal
# Send files on the local network between machines
brew install --cask localsend
# Logitech keyboard / mouse configuration
brew install --cask logi-options+
# Clipboard manager / history
brew install --cask maccy
# Merge / File comparison
brew install --cask meld
# Easier CSV navigation
# modern-csv
# Not available as a brew cask
# remarkable
# Screenshots
brew install --cask shottr
# Music
brew install --cask spotify
# Web browser
brew install --cask zen
# Install oh-my-zsh https://ohmyz.sh/#install
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  echo "oh-my-zsh already installed, skipping installation"
fi
{{ end -}}
